---
import Csharp from "../../icons/Backend-icons/Csharp.astro";
import Express from "../../icons/Backend-icons/Express.astro";
import Net from "../../icons/Backend-icons/Net.astro";
import NodeJS from "../../icons/Backend-icons/NodeJS.astro";
import Npm from "../../icons/Backend-icons/NPM.astro";
import Pnpm from "../../icons/Backend-icons/PNPM.astro";
---


<!-- Backend -->
<section aria-labelledby="backend-heading" class="bg-white dark:bg-blue-400  shadow-md p-6 rounded-lg">
  <h3 id="backend-heading" class="text-xl font-bold text-gray-900 mb-4 text-center">Backend</h3>
  <ul class="grid grid-cols-2 sm:grid-cols-3 gap-6">
    <li class="flex flex-col items-center text-center">
      <h1 class="font-semibold">Node.js</h1>
      <NodeJS class="w-14 h-14 my-2" />
      <h2 class="text-sm text-gray-600 font-bold">Intermedio</h2>
    </li>
    <li class="flex flex-col items-center text-center">
      <h1 class="font-semibold">Express</h1>
      <Express class="w-14 h-14 my-2" />
      <h2 class="text-sm text-gray-600 font-bold">Intermedio</h2>
    </li>
    <li class="flex flex-col items-center text-center">
      <h1 class="font-semibold">NPM</h1>
      <Npm class="w-14 h-14 my-2" />
      <h2 class="text-sm text-gray-600 font-bold">Intermedio</h2>
    </li>
    <li class="flex flex-col items-center text-center">
      <h1 class="font-semibold">PNPM</h1>
      <Pnpm class="w-14 h-14 my-2" />
      <h2 class="text-sm text-gray-600 font-bold">Intermedio</h2>
    </li>
    <li class="flex flex-col items-center text-center">
      <h1 class="font-semibold">C#</h1>
      <Csharp class="w-14 h-14 my-2" />
      <h2 class="text-sm text-gray-600 font-bold">Intermedio</h2>
    </li>
    <li class="flex flex-col items-center text-center">
      <h1 class="font-semibold">Net</h1>
      <Net class="w-14 h-14 my-2" />
      <h2 class="text-sm text-gray-600 font-bold">Intermedio</h2>
    </li>
  </ul>
</section>
