---
import MongoDB from "../../icons/Database-icons/MongoDB.astro";
import MySQL from "../../icons/Database-icons/MySQL.astro";
import PostgreSQL from "../../icons/Database-icons/PostgreSQL.astro";
import SQLite from "../../icons/Database-icons/SQLite.astro";
import SQLServer from "../../icons/Database-icons/SQLServer.astro";
---


<!-- Bases de Datos -->
<section aria-labelledby="db-heading" class="bg-white dark:bg-gray-900 shadow-md p-6 rounded-lg">
  <h3 id="db-heading" class="text-xl font-bold text-gray-900 mb-4 text-center">Bases de Datos</h3>
  <ul class="grid grid-cols-2 sm:grid-cols-3 gap-6">
    <li class="flex flex-col items-center text-center">
      <h1 class="font-semibold text-gray-600 dark:text-white">MySQL</h1>
      <MySQL class="w-14 h-14 my-2" />
      <h2 class="text-sm text-gray-600 dark:text-white font-bold">Intermedio</h2>
    </li>
    <li class="flex flex-col items-center text-center">
      <h1 class="font-semibold text-gray-600 dark:text-white">PostgreSQL</h1>
      <PostgreSQL class="w-14 h-14 my-2" />
      <h2 class="text-sm text-gray-600 dark:text-white font-bold">Intermedio</h2>
    </li>
    <li class="flex flex-col items-center text-center">
      <h1 class="font-semibold text-gray-600 dark:text-white">MongoDB</h1>
      <MongoDB class="w-14 h-14 my-2" />
      <h2 class="text-sm text-gray-600 dark:text-white font-bold">Intermedio</h2>
    </li>
    <li class="flex flex-col items-center text-center">
      <h1 class="font-semibold text-gray-600 dark:text-white">SQLite</h1>
      <SQLite class="w-14 h-14 my-2" />
      <h2 class="text-sm text-gray-600 dark:text-white font-bold">Principiante</h2>
    </li>
    <li class="flex flex-col items-center text-center">
      <h1 class="font-semibold text-gray-600 dark:text-white">SQL Server</h1>
      <SQLServer class="w-14 h-14 my-2" />
      <h2 class="text-sm text-gray-600 dark:text-white font-bold">Intermedio</h2>
    </li>
  </ul>
</section>
