---
import Bootstrap from "../../icons/Front-icons/Bootstrap.astro";
import HTML from "../../icons/Front-icons/HTML.astro";
import JavaScript from "../../icons/Front-icons/JavaScript.astro";
import NextJS from "../../icons/Front-icons/NextJS.astro";
import React from "../../icons/Front-icons/React.astro";
import Tailwind from "../../icons/Front-icons/Tailwind.astro";
import TypeScript from "../../icons/Front-icons/TypeScript.astro";
import CSS from "../../icons/Front-icons/CSS.astro";
import Flutter from "../../icons/Front-icons/Flutter.astro";
import "../styles/global.css";

---

<!-- Frontend -->
<section
	aria-labelledby="frontend-heading"
	class="bg-white dark:bg-blue-400 shadow-md p-6 rounded-lg container"
>
	<h3
		id="frontend-heading"
		class="text-xl font-bold text-gray-900 mb-4 text-center"
	>
		Frontend
	</h3>
	<ul class="grid grid-cols-2 sm:grid-cols-3 gap-6">
		<li class="flex flex-col items-center text-center">
			<h1 class="font-semibold">HTML</h1>
			<HTML class="w-14 h-14 my-2" />
			<h2 class="text-sm text-gray-600 dark:text-white font-bold">Avanzado</h2>
		</li>
		<li class="flex flex-col items-center text-center">
			<h1 class="font-semibold">CSS</h1>
			<CSS class="w-14 h-14 my-2" />
			<h2 class="text-sm text-gray-600 dark:text-white font-bold">Avanzado</h2>
		</li>
		<li class="flex flex-col items-center text-center">
			<h1 class="font-semibold">JavaScript</h1>
			<JavaScript class="w-14 h-14 my-2" />
			<h2 class="text-sm text-gray-600 dark:text-white font-bold">Intermedio</h2>
		</li>
		<li class="flex flex-col items-center text-center">
			<h1 class="font-semibold">TypeScript</h1>
			<TypeScript class="w-14 h-14 my-2" />
			<h2 class="text-sm text-gray-600 dark:text-white font-bold">Intermedio</h2>
		</li>
		<li class="flex flex-col items-center text-center">
			<h1 class="font-semibold">React</h1>
			<React class="w-14 h-14 my-2" />
			<h2 class="text-sm text-gray-600 dark:text-white font-bold">Intermedio</h2>
		</li>
		<li class="flex flex-col items-center text-center">
			<h1 class="font-semibold">Next.js</h1>
			<NextJS class="w-14 h-14 my-2" />
			<h2 class="text-sm text-gray-600 dark:text-white font-bold">Intermedio</h2>
		</li>
		<li class="flex flex-col items-center text-center">
			<h1 class="font-semibold">Tailwind</h1>
			<Tailwind class="w-14 h-14 my-2" />
			<h2 class="text-sm text-gray-600 dark:text-white font-bold">Principiante</h2>
		</li>
		<li class="flex flex-col items-center text-center">
			<h1 class="font-semibold">Bootstrap</h1>
			<Bootstrap class="w-14 h-14 my-2" />
			<h2 class="text-sm text-gray-600 dark:text-white font-bold">Intermedio</h2>
		</li>
		<li class="flex flex-col items-center text-center">
			<h1 class="font-semibold">Flutter</h1>
			<Flutter class="w-14 h-14 my-2" />
			<h2 class="text-sm text-gray-600 dark:text-white font-bold">Principiante</h2>
		</li>
	</ul>
</section>
