---
import About from "../components/About.astro";
import Contact from "../components/Contact.astro";
import Hero from "../components/Hero.astro";
import Proyects from "../components/Proyects.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Services from "../components/Services/Services.astro";
import Skills from "../components/Skills/Skills.astro";
import TitleSection from "../components/TitleSection.astro";
import Code from "../icons/Code.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Inicio" description="Página de inicio de mi portafolio">
	<main class="px-4 md:px-8 lg:px-16">
		<!-- Sección Hero -->
		<SectionContainer class="py-16 md:py-36 flex flex-col justify-center items-center md:mb-10">
			<Hero />
		</SectionContainer>

		<!-- Contenedor de Secciones -->
		<div class="space-y-16 md:space-y-24 mt-16">
			
			<!-- Sección Habilidades -->
			<SectionContainer id="habilidades">
				<TitleSection> Habilidades Tecnológicas </TitleSection>
				<Skills />
			</SectionContainer>

			<!-- Sección Proyectos -->
			<SectionContainer id="proyectos">
				<TitleSection>
					<Code class="size-7" />
					Proyectos
				</TitleSection>
				<Proyects />
			</SectionContainer>

			<!-- Sección Servicios -->
			<SectionContainer id="servicios">
				<TitleSection> Servicios </TitleSection>
				<Services />
			</SectionContainer>

			<!-- Sección Sobre Mí -->
			<SectionContainer id="sobre-mi">
				<TitleSection> Sobre mí </TitleSection>
				<About />
			</SectionContainer>

			<!-- Sección Contacto -->
			<SectionContainer id="contacto">
				<TitleSection> Contacto </TitleSection>
				<Contact />
			</SectionContainer>
		</div>
	</main>
</Layout>
