---
 const personalImageAlt = "Jose Andres Trinidad"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Hola! Me llamo Jose Andres Trinidad, soy un desarrollador fronted con mas de 5 años de experiencia en el desarrollo de aplicaciones web y móviles. Me especializo en tecnologías como <strong>React, Next, Node, Flutter, entre otras</strong
      >.
    </p>
    <p>
      Me encanta aprender cosas nuevas y compartir conocimientos con la comunidad. En mi tiempo libre me gusta leer, escuchar música y jugar videojuegos y unos cuantos proyectos personales para manetener mis habilidades pulidas.
    </p>
    
  </div>

  <img width="200" height="200" src="/photo_3.jpg" alt={personalImageAlt}  class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>