---
import MongoDB from "../icons/MongoDB.astro";
import MySQL from "../icons/MySQL.astro";
import PostgreSQL from "../icons/PostgreSQL.astro";
import SQLite from "../icons/SQLite.astro";
import SQLServer from "../icons/SQLServer.astro";

---


<!-- Bases de Datos -->
<section aria-labelledby="db-heading" class="bg-white shadow-md p-6 rounded-lg">
    <h3 id="db-heading" class="text-xl font-bold text-gray-900 mb-4">Bases de Datos</h3>
    <ul class="space-y-4">
      <li class="flex flex-col sm:flex-row sm:items-center sm:gap-4">
        <MySQL class="w-14 h-14" />
        <span class="font-semibold w-28">MySQL</span>
        <div class="flex-1">
          <div class="bg-gray-200 h-2 rounded" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
            <div class="bg-blue-600 h-2 rounded" style="width: 80%;"></div>
          </div>
        </div>
        <span class="w-24 text-sm text-gray-600 font-bold">Intermedio</span>
      </li>
      <li class="flex flex-col sm:flex-row sm:items-center sm:gap-4">
        <PostgreSQL class="w-14 h-14" />
        <span class="font-semibold w-28">PostgreSQL</span>
        <div class="flex-1">
          <div class="bg-gray-200 h-2 rounded" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
            <div class="bg-blue-600 h-2 rounded" style="width: 75%;"></div>
          </div>
        </div>
        <span class="w-24 text-sm text-gray-600 font-bold">Intermedio</span>
      </li>
      <li class="flex flex-col sm:flex-row sm:items-center sm:gap-4">
        <MongoDB class="w-14 h-14" />
        <span class="font-semibold w-28">MongoDB</span>
        <div class="flex-1">
          <div class="bg-gray-200 h-2 rounded" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
            <div class="bg-blue-600 h-2 rounded" style="width: 75%;"></div>
          </div>
        </div>
        <span class="w-24 text-sm text-gray-600 font-bold">Intermedio</span>
      </li>
      <li class="flex flex-col sm:flex-row sm:items-center sm:gap-4">
        <SQLite class="w-14 h-14" />
        <span class="font-semibold w-28">SQLite</span>
        <div class="flex-1">
          <div class="bg-gray-200 h-2 rounded" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
            <div class="bg-blue-600 h-2 rounded" style="width: 40%;"></div>
          </div>
        </div>
        <span class="w-24 text-sm text-gray-600 font-bold">Principiante</span>
      </li>
      <li class="flex flex-col sm:flex-row sm:items-center sm:gap-4">
        <SQLServer class="w-14 h-14" />
        <span class="font-semibold w-28">SQL Server</span>
        <div class="flex-1">
          <div class="bg-gray-200 h-2 rounded" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
            <div class="bg-blue-600 h-2 rounded" style="width: 75%;"></div>
          </div>
        </div>
        <span class="w-24 text-sm text-gray-600 font-bold">Intermedio</span>
      </li>
    </ul>
  </section>