---
import Angular from "../icons/Learning-icons/Angular.astro";
import AstroJS from "../icons/Learning-icons/AstroJS.astro";
import Django from "../icons/Learning-icons/Django.astro";
import GraphQL from "../icons/Learning-icons/GraphQL.astro";
import NestJS from "../icons/Learning-icons/NestJS.astro";
import Python from "../icons/Learning-icons/Python.astro";
import VueJS from "../icons/Learning-icons/VueJS.astro";
import Figma from "../icons/Tools-icons/Figma.astro";
---

<!-- Aprendiendo -->
<section aria-labelledby="learning-heading" class="bg-white shadow-md p-6 rounded-lg">
    <h3 id="learning-heading" class="text-xl font-bold text-gray-900 mb-4">Aprendiendo</h3>
    <ul class="space-y-4">
      <li class="flex flex-col sm:flex-row sm:items-center sm:gap-4">
        <Python class="w-14 h-14" />
        <span class="font-semibold w-28">Python</span>
        <div class="flex-1">
          <div class="bg-gray-200 h-2 rounded" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
            <div class="bg-yellow-500 h-2 rounded" style="width: 60%;"></div>
          </div>
        </div>
        <span class="w-24 text-sm text-gray-600 font-bold">Intermedio</span>
      </li>
      <li class="flex flex-col sm:flex-row sm:items-center sm:gap-4">
        <Django class="w-14 h-14" />
        <span class="font-semibold w-28">Django</span>
        <div class="flex-1">
          <div class="bg-gray-200 h-2 rounded" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
            <div class="bg-yellow-500 h-2 rounded" style="width: 50%;"></div>
          </div>
        </div>
        <span class="w-24 text-sm text-gray-600 font-bold">Principiante</span>
      </li>
      <li class="flex flex-col sm:flex-row sm:items-center sm:gap-4">
        <AstroJS class="w-14 h-14" />
        <span class="font-semibold w-28">Astro.js</span>
        <div class="flex-1">
          <div class="bg-gray-200 h-2 rounded" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
            <div class="bg-yellow-500 h-2 rounded" style="width: 50%;"></div>
          </div>
        </div>
        <span class="w-24 text-sm text-gray-600 font-bold">Principiante</span>
      </li>
      <li class="flex flex-col sm:flex-row sm:items-center sm:gap-4">
        <VueJS class="w-14 h-14" />
        <span class="font-semibold w-28">Vue.js</span>
        <div class="flex-1">
          <div class="bg-gray-200 h-2 rounded" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
            <div class="bg-yellow-500 h-2 rounded" style="width: 50%;"></div>
          </div>
        </div>
        <span class="w-24 text-sm text-gray-600 font-bold">Principiante</span>
      </li>
      <li class="flex flex-col sm:flex-row sm:items-center sm:gap-4">
        <Angular class="w-14 h-14" />
        <span class="font-semibold w-28">Angular</span>
        <div class="flex-1">
          <div class="bg-gray-200 h-2 rounded" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
            <div class="bg-yellow-500 h-2 rounded" style="width: 20%;"></div>
          </div>
        </div>
        <span class="w-24 text-sm text-gray-600 font-bold">Principiante</span>
      </li>
      <li class="flex flex-col sm:flex-row sm:items-center sm:gap-4">
        <GraphQL class="w-14 h-14" />
        <span class="font-semibold w-28">GraphQL</span>
        <div class="flex-1">
          <div class="bg-gray-200 h-2 rounded" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
            <div class="bg-yellow-500 h-2 rounded" style="width: 50%;"></div>
          </div>
        </div>
        <span class="w-24 text-sm text-gray-600 font-bold">Principiante</span>
      </li>
      <li class="flex flex-col sm:flex-row sm:items-center sm:gap-4">
        <NestJS class="w-14 h-14" />
        <span class="font-semibold w-28">NestJS</span>
        <div class="flex-1">
          <div class="bg-gray-200 h-2 rounded" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
            <div class="bg-yellow-500 h-2 rounded" style="width: 60%;"></div>
          </div>
        </div>
        <span class="w-24 text-sm text-gray-600 font-bold">Intermedio</span>
      </li>
      <li class="flex flex-col sm:flex-row sm:items-center sm:gap-4">
        <Figma class="w-14 h-14" />
        <span class="font-semibold w-28">Figma</span>
        <div class="flex-1">
          <div class="bg-gray-200 h-2 rounded" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
            <div class="bg-yellow-500 h-2 rounded" style="width: 60%;"></div>
          </div>
        </div>
        <span class="w-24 text-sm text-gray-600 font-bold">Intermedio</span>
      </li>
    </ul>
  </section>