---
import Angular from "../icons/Learning-icons/Angular.astro";
import AstroJS from "../icons/Learning-icons/AstroJS.astro";
import Django from "../icons/Learning-icons/Django.astro";
import GraphQL from "../icons/Learning-icons/GraphQL.astro";
import NestJS from "../icons/Learning-icons/NestJS.astro";
import Python from "../icons/Learning-icons/Python.astro";
import VueJS from "../icons/Learning-icons/VueJS.astro";
import Figma from "../icons/Tools-icons/Figma.astro";
---

<!-- Aprendiendo -->
<section aria-labelledby="learning-heading" class="bg-white dark:bg-blue-400  shadow-md p-6 rounded-lg">
  <h3 id="learning-heading" class="text-xl font-bold text-gray-900 mb-4 text-center">Aprendiendo</h3>
  <ul class="grid grid-cols-2 sm:grid-cols-4 gap-4">
    <li class="flex flex-col items-center space-y-2">
      <Python class="w-14 h-14" />
      <h1 class="font-semibold text-center">Python</h1>
    </li>
    <li class="flex flex-col items-center space-y-2">
      <Django class="w-14 h-14" />
      <h1 class="font-semibold text-center">Django</h1>
    </li>
    <li class="flex flex-col items-center space-y-2">
      <AstroJS class="w-14 h-14" />
      <h1 class="font-semibold text-center">Astro.js</h1>
    </li>
    <li class="flex flex-col items-center space-y-2">
      <VueJS class="w-14 h-14" />
      <h1 class="font-semibold text-center">Vue.js</h1>
    </li>
    <li class="flex flex-col items-center space-y-2">
      <Angular class="w-14 h-14" />
      <h1 class="font-semibold text-center">Angular</h1>
    </li>
    <li class="flex flex-col items-center space-y-2">
      <NestJS class="w-14 h-14" />
      <h1 class="font-semibold text-center">NestJS</h1>
    </li>
    <li class="flex flex-col items-center space-y-2">
      <GraphQL class="w-14 h-14" />
      <h1 class="font-semibold text-center">GraphQL</h1>
    </li>
    <li class="flex flex-col items-center space-y-2">
      <Figma class="w-14 h-14" />
      <h1 class="font-semibold text-center">Figma</h1>
    </li>
  </ul>
</section>
