---

import GitHub from "../icons/GitHub.astro";
import AWS from "../icons/Tools-icons/AWS.astro";
import Azure from "../icons/Tools-icons/Azure.astro";
import Docker from "../icons/Tools-icons/Docker.astro";
import Firebase from "../icons/Tools-icons/Firebase.astro";
import Heroku from "../icons/Tools-icons/Heroku.astro";
import Postman from "../icons/Tools-icons/Postman.astro";
import Supabase from "../icons/Tools-icons/Supabase.astro";
import Vercel from "../icons/Tools-icons/Vercel.astro";

---

<!-- Tools -->
<section aria-labelledby="tools-heading" class="bg-white dark:bg-blue-400  shadow-md p-6 rounded-lg">
  <h3 id="tools-heading" class="text-xl font-bold text-gray-900 mb-4 text-center">Herramientas</h3>
  <ul class="grid grid-cols-2 sm:grid-cols-3 gap-6">
    <li class="flex flex-col items-center text-center">
      <h1 class="font-semibold">Git/GitHub</h1>
      <GitHub class="w-14 h-14 my-2" />
      <h2 class="text-sm text-gray-600 font-bold">Intermedio</h2>
    </li>
    <li class="flex flex-col items-center text-center">
      <h1 class="font-semibold">Docker</h1>
      <Docker class="w-14 h-14 my-2" />
      <h2 class="text-sm text-gray-600 font-bold">Principiante</h2>
    </li>
    <li class="flex flex-col items-center text-center">
      <h1 class="font-semibold">AWS</h1>
      <AWS class="w-14 h-14 my-2" />
      <h2 class="text-sm text-gray-600 font-bold">Principiante</h2>
    </li>
    <li class="flex flex-col items-center text-center">
      <h1 class="font-semibold">Firebase</h1>
      <Firebase class="w-14 h-14 my-2" />
      <h2 class="text-sm text-gray-600 font-bold">Principiante</h2>
    </li>
    <li class="flex flex-col items-center text-center">
      <h1 class="font-semibold">Supabase</h1>
      <Supabase class="w-14 h-14 my-2" />
      <h2 class="text-sm text-gray-600 font-bold">Principiante</h2>
    </li>
    <li class="flex flex-col items-center text-center">
      <h1 class="font-semibold">Postman</h1>
      <Postman class="w-14 h-14 my-2" />
      <h2 class="text-sm text-gray-600 font-bold">Intermedio</h2>
    </li>
    <li class="flex flex-col items-center text-center">
      <h1 class="font-semibold">Azure</h1>
      <Azure class="w-14 h-14 my-2" />
      <h2 class="text-sm text-gray-600 font-bold">Principiante</h2>
    </li>
    <li class="flex flex-col items-center text-center">
      <h1 class="font-semibold">Vercel</h1>
      <Vercel class="w-14 h-14 my-2" />
      <h2 class="text-sm text-gray-600 font-bold">Principiante</h2>
    </li>
    <li class="flex flex-col items-center text-center">
      <h1 class="font-semibold">Heroku</h1>
      <Heroku class="w-14 h-14 my-2" />
      <h2 class="text-sm text-gray-600 font-bold">Principiante</h2>
    </li>
  </ul>
</section>
