---
import ClientRouter from "astro/components/ClientRouter.astro";
import Proyects from "../../components/Proyects.astro";
import Layout from "../../layouts/Layout.astro";
import { getProjectsCollection } from "../../utils/getProjectsCollection";



const projects = await getProjectsCollection();
---

<Layout title="Proyectos" description="Description of the projects page">
  <main class="wrapper">
    <div class="projects">
      <Proyects client:load initialProyects={projects} />
      <ClientRouter />
    </div>
  </main>
</Layout>

<style>
  .projects {
    padding: 8rem 1rem 1rem 1rem;

    display: grid;
    gap: 1.5rem;
  }
  @media screen and (min-width: 1200px) {
    .projects {
      grid-template-columns: 250px 1fr;
    }
  }
</style>